# Ignore raw data files
data/raw/

# Ignore virtual environments
venv/
.env/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store

# Docker
**/__pycache__/
docker/.env
docker/.pytest_cache/
